@model Lab06.App_Start.MyDbContext

@{
    ViewBag.Title = "Carriers page";
}

<h2>@ViewBag.Title.</h2>

<body>
    <style>
        table {
            border-collapse: collapse;
        }

        tr.border-bottom {
            border-bottom: 1px solid #ff000d;
        }
    </style>

    <table style="width: 100%">
        <tr>
            <th>id</th>
            <th>Carrier's name</th>
        </tr>
        @foreach (var carrier in Model.Carriers.ToList())
        {
            <tr>
                <td>@carrier.id</td>
                <td>@carrier.name</td>
                <td>@carrier.name</td>
                <td><a href="/Carrier/UpdateCarrier/@carrier.id/" role="button"><span aria-hidden="true">edit</span></a></td>
                <td><a href="/Carrier/DeleteCarrier/@carrier.id/" role="button"><span aria-hidden="true">delete</span></a></td>
            </tr>
        }
    </table>

    @using (Html.BeginForm("Add", "Carrier"))
    {
        <h6>Insert new Store</h6>
        <label>Carrier's name</label>
        <input type="text" name="carrierName" id="carrierName" value="" />
        <input type="submit" value="Save" />
    }
</body>