@model Lab6.Models.Seller

@{
    ViewBag.Title = "UpdateSeller";
}

<h2>Update Seller's data</h2>

<form method="post" action="">
    <input type="hidden" value="@Model.id" name="id" />
    <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Please insert name" value="@Model.name">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>



